torch
transformers
bitsandbytes
peft
accelerate
flash-attn
langchain
sentence-transformers
tqdm
openpyxl
openai
pandas
datasets
langchain-community
tiktoken
langchain-openai
langchainhub
chromadb
ragatouille

isort
autopep8

streamlit
